.ln-switcher {
  display: flex;
  justify-content: space-between;
  gap: 0 3px;
  width: fit-content;

  &__ln {
    /* height: 17px; */
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    line-height: 17px;
    color: white;
    background: black;
    padding: 6px 7px 7px;

    &_active {
      color: black;
      background: white;
    }

  }


}