.navbar {
  a {
    text-decoration: none;
    display: block;
  }
}

.navbar-top {
  background: white;
  display: flex;

  a.text-link {
    position: relative;
    &::after {
      position: absolute;
      left: 50%;

      transform: translate(-50%, -60px);
      display: block;
      content: '';
      height: 2px;
      background: black;
      transition: .3s ease;
      width: 0;
    }
    &.active::after {
      background: white;
    }
    &:hover::after {
      width: calc(100% - 52px);
    }
  }

  a {
    font-family: 'Oswald', sans-serif;
    padding: 0 26px;
    color: black;
    height: 175px;
    line-height: 175px;
    font-size: 26px;

    img {
      margin-top: 21px;
    }

    &.active {
      color: white;
      background: black;
    }
  }

}

.navbar-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 90px;

  a {
    font-size: 22px;
    height: 73px;
    line-height: 73px;
    color: white;
  }

}