@import 'style/media-queries';
@media (--lg) {
  .navbar-top ul {
    li {
      width: 164px;
      height: 147px;

      a.text-link {
        height: 23px;
        font-size: 27px;
        line-height: 26px;
      }
  
      img.logo {
        width: 94px;
        height: 102px;
      }
    }
  }



  .navbar-bottom ul {
    gap: 76px;

    a {
      font-size: 20.6px;
    }
  }
}