@import 'style/media-queries';
@media (--lg) {
  section#about {
    .container {
      padding: 52px 0;
    }

    .inner {
      margin-top: 39px;
    }

    .img-wrapper {
      width: 290px;
      height: 357px;

      img {
        width: 253px;
        height: 328px;
      }
  
      div {
        width: 162px;
        height: 186px;
      }
    }

    .description {
      margin-left: 86px;
      padding-top: 57px;
      font-size: 21.6px;
      line-height: 26px;
    }
  }
}


 